@tailwind base;
@tailwind components;
@tailwind utilities;


:root  {
  --background: 360 13% 95%;
  --foreground: 360 5% 10%;
  --card: 360 13% 90%;
  --card-foreground: 360 5% 15%;
  --popover: 360 13% 95%;
  --popover-foreground: 360 95% 10%;
  --primary: 360 60% 73%;
  --primary-foreground: 0 0% 0%;
  --secondary: 360 13% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 322 13% 85%;
  --muted-foreground: 360 5% 35%;
  --accent: 322 13% 80%;
  --accent-foreground: 360 5% 15%;
  --destructive: 0 50% 35%;
  --destructive-foreground: 360 5% 90%;
  --border: 360 20% 50%;
  --input: 360 20% 35%;
  --ring: 360 60% 73%;
  --radius: 0.5rem;
}
.dark  {
  --background: 360 13% 10%;
  --foreground: 360 5% 90%;
  --card: 360 13% 10%;
  --card-foreground: 360 5% 90%;
  --popover: 360 13% 5%;
  --popover-foreground: 360 5% 90%;
  --primary: 360 60% 73%;
  --primary-foreground: 0 0% 0%;
  --secondary: 360 13% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 322 13% 25%;
  --muted-foreground: 360 5% 60%;
  --accent: 322 13% 25%;
  --accent-foreground: 360 5% 90%;
  --destructive: 0 50% 35%;
  --destructive-foreground: 360 5% 90%;
  --border: 360 20% 35%;
  --input: 360 20% 35%;
  --ring: 360 60% 73%;
  --radius: 0.5rem;
}




@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
