@tailwind base;
@tailwind components;
@tailwind utilities;


:root  {
  --background: 221 13% 95%;
  --foreground: 221 5% 10%;
  --card: 221 13% 90%;
  --card-foreground: 221 5% 15%;
  --popover: 221 13% 95%;
  --popover-foreground: 221 95% 10%;
  --primary: 221 83.3% 53.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 221 13% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 183 13% 85%;
  --muted-foreground: 221 5% 35%;
  --accent: 183 13% 80%;
  --accent-foreground: 221 5% 15%;
  --destructive: 0 50% 35%;
  --destructive-foreground: 221 5% 90%;
  --border: 221 20% 50%;
  --input: 221 20% 35%;
  --ring: 221 83.3% 53.1%;
  --radius: 0.5rem;
}
.dashboard  {
  --background: 245 13% 95%;
  --foreground: 245 5% 10%;
  --card: 245 13% 90%;
  --card-foreground: 245 5% 15%;
  --popover: 245 13% 95%;
  --popover-foreground: 245 95% 10%;
  --primary: 245 57% 40%;
  --primary-foreground: 0 0% 100%;
  --secondary: 245 13% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 207 13% 85%;
  --muted-foreground: 245 5% 35%;
  --accent: 207 13% 80%;
  --accent-foreground: 245 5% 15%;
  --destructive: 0 50% 35%;
  --destructive-foreground: 245 5% 90%;
  --border: 245 20% 50%;
  --input: 245 20% 35%;
  --ring: 245 57% 40%;
  --radius: 0.5rem;
}




@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
